<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Page</title>

        <link rel="icon" href="/img/littleCloud.jpg">

        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>

        <div class="main-content">
            {{>header}}

            <p>This site was created by Sasaki. It uses data from MapBox and DarkSky.net!</p>

            <img class="portrait" src="/img/1.jpg">

            <img class="full" src="/img/14.jpg">
        </div>

        {{>footer}}
    </body>
</html>